doctype
html(lang='en')

    include partials/head.pug

    body

        include partials/navbar.pug
        
        if status
            include partials/alert.pug

        div.container-fluid.p-4.d-flex.flex-wrap.justify-content-center

            each product in products
                div.card.m-3(style="width: 18rem;")
                    img.card-img-top.p-4(src=product.img,alt="Card image cap")
                    div.card-body
                        h5.card-title #{product.name} #{product.price}₺
                        p.card-text #{product.description}
                        form(method="POST",action="/")
                            input.d-none(name="productId",value=product._id)
                            button.add-to-cart.btn.btn-primary(id=product.id,type="submit") <i class="fas fa-cart-plus"></i> &nbsp;Add to cart
